#j{
    background-color: rgb(197, 90, 90);
}
#jj{
    background-color: rgb(218, 187, 187);
}

#b{
    background-color:rgb(240, 174, 157)
}#c{
    background-color:rgb(163, 105, 196)
}
#d{
    background-color: rgb(129, 153, 219);
}
#bb{
    background-color: rgb(214, 235, 158);
}
#cc{
    background-color: rgb(255, 124, 100);
}
